.banner {
    width: 100%;
    height: max(100dvh, 890px);
    overflow: hidden;
    background: linear-gradient(180deg, rgba(var(--primary-fx-color) 0.5) 0%, rgba(var(--secondary-fx-color) 0.9) 100%);
}
.banner_wrapper {
    width: min(100dvw, var(--max-width));
    height: inherit;
    margin: 0 auto;
    position: relative;
    display: flex;
}
/* Left Side */
.banner_left {
    width: max(50%, 850px);
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column;
    padding: 0 0 0 3rem;
    position: relative;
    z-index: 1;
}
.banner_title {
    font-size: clamp(2rem, 0.5rem + 1.5vw, 2.5rem);
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1rem;
}
.banner_para1 {
    margin: 20px 0;
    padding: 0 20px;
}
.banner_button {
    padding: 10px 30px;
    margin: 30px 0 0 40px;
    cursor: pointer;
}
.banner_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 15px;
}
.banner_icons span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.banner_icons img {
    margin: 0 10px;
}
.banner_icons p {
    color: #FF611D;
}
.banner_shop_by_brand {
    position: absolute;
    bottom: 30px;
    padding: 20px;
}
.banner_shop_by_brand h2 {
    margin: 10px;
}
.banner_shop_by_brand img {
    margin: 10px;
}
/* Right Side */
.banner_right {
    width: 50%;
    height: inherit;
    position: absolute;
    width: 80%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: right;
    padding-top: 10dvh;
}
.banner_right img {
    width: 1200px;
    height: 1000px;
}
@media (max-width: 768px) {
    .banner_title {
        letter-spacing: 0.5rem;
    }
    .banner_right {
        z-index: -1;
    }
}