.content {
    width: 100%;
    height: auto;
    padding: 8rem;
    display: flex;
    justify-content: flex-start;
}
.content_aside {
    width: 20%;
    height: auto;
}
.content_aside span {
    display: flex;
}
.content_aside div {
    margin: 7rem 0;
}
.content_aside p {
    margin: 5px 0;
}
.content_aside input {
    margin: 0 10px;
}
.product_sale_cons {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 70px;
}
.product_sale_cons_figure {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.product_sale_cons_figure img {
    width: 100%;
}
.product_sale_cons_figure span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
}
.product_sale_cons figcaption {
    padding-top: 1rem;
}
.product_sale_cons p {
    opacity: 0.8;
    font-size: 0.9rem;
    margin-top: 10px;

}
.product_sale_cons_relative {
    position: relative;
}
.wishlist {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.wishlist img {
    width: 100%;
    height: 100%;
}
.product_sale_cons_status {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 45px;
    height: 25px;
    padding: 5px;
    background-color: #fff;
    text-align: center;
}
.product_sale_cons_status p {
    font-size: 0.8rem;
    margin: 0;
}